.fullcontent{
    width: 60%;
    margin: 0px;
    margin-left: auto;
    margin-right: auto;
}
p{
    font-family: "Roboto", sans-serif;
}
.headact{
    display:inline-flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    width: 58%;
    background-color: #007765b6;
    top: 0px;
    padding: 0.3% 1%;
    height: 4em;
}
.logo{
    display: inline-flex;
}
.logo > p{
    color: aliceblue;
    padding-top: 0.4em;
    font-size: 1.3em;
    margin: 4px;
}
.logo > img{
    height: 100%;
    padding-top: 10px;
}
.ssilki{
    display: inline-flex;
    justify-content: end;
    width: 60%;
}
.l_ost1{
    padding: 0.1em 0.1em;
    color: aliceblue;
    font-size: 95%;
    border-right: 1px solid aliceblue;
    background-color: #00776577;
}
.l_ost2{
    padding: 0.1em 0.1em;
    color: aliceblue;
    font-size: 95%;
    background-color: #00776577;
}
.l_ost3{
    padding: 0.1em 0.1em;
    font-size: 95%;
    color: aliceblue;
    border-left: 1px solid aliceblue;
    background-color: #00776577;  
}
.vstup{
    color: aliceblue;
    font-size: 2em;
    padding:5%;
    background-image:url(vstup.png);
    background-position: center center;
    background-size: 100% 100%;
}
.TheProblem{
    background: #ffffffc5;
}
.pr_text{
    margin:0px ;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 10px;
}
.We’re{
    background-image:url(seti.png) ;
    background-position: center center;
    background-size: 100% 100%;
}
.We’re > center{
    padding-left: 10%;
    padding-right: 10%;
}
.We’re_text{
    color: aliceblue;
    font-size: 20px;
    margin: 0px;
    padding-left: 10%;
    padding-right: 10%;
    padding: 10%;
}
.Introducing_PiedPiperCoin{
    background-color: #ffffffc4 ;
    display: flexbox;
}
.Introducing_PiedPiperCoin_block{
    padding-left: 10%;
    padding-right: 10%;
    padding: 5%;
}

.Introducing_PiedPiperCoin_block > img{
    width: 4em;
    float: left;
}
.Introducing_PiedPiperCoin_block > p{
    margin: 0px;
}
h1{
    color: #007765;
    font-size: 1.5em;
    margin: 0px;font-family: "Roboto", sans-serif;
}
.Introducing_PiedPiperCoin_post{
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 5%;
    margin: 0px;
}
.team{
    background-color: rgba(240, 255, 255, 0.829);
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 5%;
}
.name{
    color: #007765;
}
.arrcard{
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.team p{
    margin: 0px;
    display: flex;
    justify-content: center;
}
.work{
    font-size: 80%;
}
.team img{
    width: 8em;
}
.All{
    background-color: rgb(27, 27, 27);
    color: rgb(119, 121, 121);
    display: flex;
    justify-content: center;
    align-content: center;
    font-size: 0.7em;
    padding: 1% 25%;
}

html{
    scroll-behavior: smooth;
    scroll-padding-top: 65px;
}
body{
    margin:0px ;
    background:url(list.jpg);
    background-attachment: fixed;
    background-position: center center;
    background-size: 100% 100%;
    padding-top: 4.5em;
}
@media screen and (max-width: 601px) {
    .headact{
        display:inline-flexbox;
        flex-direction: column;
        justify-content: space-between;
        position: fixed;
        width: 56%;
        background-color: #007765b6;
        top: 0px;
        padding: 0.3% 1%;
        height: fit-content;
    }
    .logo{
        display: inline-flex;
        padding-left: 30%;
    }
    .ssilki{
        display: inline-flex;
        justify-content: end;
        width: 40%;
        padding-left: 50%;
    }
}
